@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2><p>
Notification!!!
We have sent an email for verification.

" Please click on the link provided to confirm your email address..."
</p>
</center>
